body, html {
  height: 100%;
}

.bgIMG {
  /* The image used */
  background-image: url("./../assets/studio-ghibli-theme-park.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}